<footer id="contact">
    <article>
        <h4>Livrare gratuită</h4>
        <p>pentru comenzi peste 150 de lei.</p>

        <aside>
            <ul>
                <li>daca toate articolele incap intr-un singur pachet</li>
                <li>livrare doar pe teritoriul Romaniei</li>
            </ul>
        </aside>
    </article>

<address>
    Ne puteti scrie la adresa: <a href="mailto:contact@booker.com">contact@booker.com</a>
   <br>
    Disponibil telefonic non-stop la: <a href="tel:0040712442111">+40 712 442 111</a><br>
    Whatsapp: <a href="https://wa.me/0040712442111">+40 712 442 111</a>
    <br>
    Punct fizic de lucru: <a href="https://goo.gl/maps/n4ZLomHEte1zc9kC8">Piata Unirii nr. 1</a>
  </address>

<a href="#">
<div class="romb">
  <div class="cone"></div>
</div>
</a>
<p class="proiect-scolar-banner">ACESTA ESTE UN PROIECT SCOLAR</p>
<p>&copy; <time datetime="2023-01-01">2023</time> Booker</p>
</footer>