<header>
    <div class="variante-meniu">
      <h1 class="logo">BOOKER</h1>
        <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
          <li><a href="/">Home</a></li>
          <li class="dropdown-parent">
            <a>Categorii</a>
            <ul class="dropdown">
              <li><a href="/">Caiete</a></li>
              <li><a href="/">Carti</a></li>
            </ul>
          </li>
          <li class="dropdown-parent">
            <a>Sectiuni</a>
            <ul class="dropdown">
              <li><a href="#faq">Întrebări frecvente</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </li>
          <li><a href="/istoric">Istoric</a></li>
        </div>
      </ul>
    </div>
  </header>